<html>
  <head>
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/layout.css" />
    <%-style%>
  </head>
  <body>
    <%- include('_header'); -%> <%- body %> <%- include('_footer'); -%>
    <%-script%>
  </body>
</html>

<!-- while creating file in views folder name layout file as "layout.ejs " only not layouts our Layout it will not work -->
